
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background:rgb(174, 174, 174);
}

html {
    scroll-behavior: smooth;
}


.content {
    height: 100%;
    width: 100%;
}

/* Nav links */

.nav-items {
    display: flex;  
    background-color: rgb(127, 127, 127);
    width: 300px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 4vh;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/* Effecs */

i:hover {
    opacity: 0.7;
}

.hover-effect:after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    width: 0;
    bottom: -3px;
    left: 0;
    transition: all 300ms ease;
}

.hover-effect:hover:after {
    width: 100%;
    right: 0;
    cursor: pointer;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 90vh;
}

.middle h1{
    color: #fff;
    font-size: 3rem;
}

.middle p {
    color: rgb(217, 217, 217);
    margin-bottom: 30vh;
}




