@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
* {
    /* font-family: 'Open Sans', sans-serif;  */
    font-family: 'Secular One', sans-serif; 
}

body {
    margin: 0;
    padding: 0;
   background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% ); 
}

html {
    scroll-behavior: smooth;
}


.content {
    height: 100%;
    width: 100%;
}

/* ---------  Nav links  ---------*/

.nav-items {
    display: flex;  
    background-color: rgb(150, 214, 248);  
    width: 360px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 4vh;
    flex: 1;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* ---------   Content   --------- */

.line {
    margin: 0 auto;
    background-color: rgb(150, 214, 248);
    width: 200px;
    height: 7px;
    border-radius: 20px;
}

.middle h1 {
    margin-bottom: 6vh;
}

#skola {
    color: white;
    font-weight: bold;
    margin-top: 6vh;
}

.wave
{
    font-size: 3rem;
    margin-left: 1vw;
    display: inline-block;
    animation: animate-wave 500ms infinite ease-in-out;
}


/* ---------   Effecs   ---------  */

.hover-effect:after {   
    content: "";
    position: absolute;
    height: 2px;
    background-color: rgb(255, 255, 255);
    width: 0;
    bottom: 6px;
    left: 0;
    transition: all 300ms ease;
}

.hover-effect:hover:after {
    width: 100%;
    right: 0;
    cursor: pointer;
}

.hover-effect:hover {
    opacity: 0.7;
    transition: all .5s;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
     /* height: 90vh; */
}

.middle h1{
    color: white;
    font-weight: 200;
    font-size: 4rem;
    margin-top: 17vh; 
}

.middle p {
    margin-bottom: 30vh;
}

/* ---------   ABOUT ME  (Ny html fil)  --------- */


.about-me {
    text-align: center;
}

.about-me h1 {
    font-weight: 200;
}

.about-me p {
    color: rgb(85, 85, 85);
    font-size: 13px;
    font-weight: 100;
}

.about-me img {
    margin-top: 10vh;
    width: 100px;
    border-radius: 100%;
}

.about-me table {
    border: 1px solid black;
}

.about-me-bottom {
    display: flex;
    justify-content: center;
}

.table{
    margin-top: 10vw;
}

td {
    font-weight: 400;
    font-size: 13px;
}

/* --------- Kurser   --------- */

.kurser {
    margin-top: 6vw;
}

.col3 div{
    width: 10%;
    height: 45px;
    margin: 30px;
    border-radius: 10px;
    font-weight:400;
    font-size: 15px;
    line-height: 20px;
}

.engelska {
    background-color: rgb(241, 152, 152);
}
.matte {
    background-color: rgb(113, 189, 255);
}
.fysik {
    background-color: rgb(188, 125, 248);
}
.svenska {
    background-color: rgb(101, 255, 145);
}
.programmering {
    background-color: rgb(249, 220, 91);
}
.webbutveckling {
    background-color: rgb(255, 133, 249);
}
.daodac {
    background-color: rgb(255, 194, 120);
}
.idrott {
    background-color: rgb(0, 245, 237);
}
.tillämpad {
    background-color: rgb(251, 148, 174);
}

.col3 {
    display: flex;
    justify-content: center;
    gap: 7vw;
    flex-basis: 100%;
    text-align: center;
}

.col3-2 div{
    width: 50%;
    height: 200px;
    margin: 30px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 180px;
    text-align: center;
}

/* --------- Intressen --------- */

.interests {
    margin-top: 6vw;
}

.spela {
    background-image: url(./images/spel_bild.webp);
    background-position: center;
    background-size: cover;
    color: white;
}

.prog {
    background-image: url(./images/programmering_bild.webp);
    background-position: center;
    background-size: cover;
    color: white;
}

.gym{
    background-image: url(./images/gym_bild.png);
    background-position: center;
    background-size: cover;
    color: white;
}

.col3-2 {
    display: flex;
    justify-content: center;
    gap: 7vw;
    flex-basis: 100%;
    text-align: center;
}



/* ---------    Animation   --------- */

@keyframes animate-wave
{
    0%
    {
        transform: rotate(0);
    }
    50%
    {
        transform: rotate(30deg);
    }
    100%
    {
        transform: rotate(0);
    }

}

